@import url("./variables.css");

main {
  height: 100vh;
  width: 100vw;
  background-image: var(--bgr-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--txt-color);
}

.global-container {
  height: var(--h-g-container);
  width: var(--w-container);
  display: flex;
  flex-direction: var(--flex-direction-container);
}

.history-container {
  width: var(--w-c-container);
  background: var(--bgr-l-grad);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 2vw;
  order: var(--history-order);
}

.history-container > * {
  text-transform: uppercase;
  font-weight: 300;
}

.calculation-container {
  width: var(--w-c-container);
  background: var(--bgr-calc);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.total {
  height: var(--h-total);
  border-bottom: solid 0.1px var(--bgr-calc-color-light);
  font-size: var(--h-size);
  font-weight: 400;
  overflow-x:hidden;
}

.calculation {
  height: var(--h-calculation);
  font-size: var(--p-size);
  font-weight: 300;
}

.total,
.calculation {
  text-align: right;
  padding: 0 2vw;
  align-content: center;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

.op-n-container {
  height: var(--h-operators);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

.op-n-container > button {
  background: var(--bgr-calc-color-light);
  font-size: var(--btn-size);
  font-weight: 200;
  border: 0;
  color: var(--txt-color);
}

.op-n-container > button:hover {
  background: var(--bgr-calc-color-light-hover);
}

button[data-operator="+"] {
  border-bottom-right-radius: var(--b-b-r-radius);
}
